body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.increment-btn {
  padding: 15px 30px;
  width: 300px;
  font-size: 28px;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: 100ms all ease-in-out;
  box-shadow: black 0px 2px 8px 0px;
}
.increment-btn:hover {
  background: rgb(95, 93, 93);
}
.save-btn:hover {
  background: rgb(217, 142, 3);
}
.save-btn {
  padding: 15px 30px;
  font-size: 28px;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  transition: 100ms all ease-in-out;
  box-shadow: rgb(27, 27, 27) 0px 2px 8px 0px;
}
#count-el {
  font-size: 108px;
  font-weight: bold;
  padding: 0;
  margin: 36px;
}
.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  border-radius: 20px;
  color: white;
  border: 8px inset orange;
}
